@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');


:root {
    font-size: 16px;
    font-family: 'Sirin Stencil', cursive;
    --color-text: #43476B;
    --color-background: rgba(223, 223, 238);
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2020/06/17/02/55/moon-5307922_960_720.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Sirin Stencil', cursive;
}



/* Login Container*/
.login-container {
    position: absolute;
    width: 434px;
    height: 600px;
    left: 1300px;
    top: 157px;
    background: rgba(223, 223, 238, 0.23);
    border-radius: 58px;
}

/* Login Title */
.login-title {
    position: relative;
    left: 30px;
    bottom: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 88px;
    line-height: 90px;
    color: #43476B;
}

    /* Sub-title */
.sub-title {
    position: relative;
    bottom: 80px;
    right: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    color: #43476B;
}

    /*Login-Prompt*/
.login-prompt {
    position: relative;
    bottom: 80px;
    left: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    /* identical to box height */
    text-align: center;
    color: #43476B;
    text-decoration: underline;
}

/* Username */
.username {
    position: relative;
    left: 32px;
    bottom: 70px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #43476B;
}

    /* Password */
    .password {
    position: relative;
    left: 32px;
    bottom: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #43476B;
}

/*Username/Password Container*/
.textfield1 {
    position: relative;
    right: 32px;
    left: 16px;
    bottom: 70px;
    width: 25rem;
    height: 57px;
    background-color: rgba(223, 223, 238, 0.42);
    color: #43476B;
    border-radius: 128px;
    font-size: 26px;
    text-align: center;
    border-color: transparent;
    outline-width: 0
}

.textfield2 {
    position: relative;
    bottom: 50px;
    right: 32px;
    left: 16px;
    width: 25rem;
    height: 57px;
    background-color: rgba(223, 223, 238, 0.42);
    color: #43476B;
    border-radius: 128px;
    font-size: 26px;
    text-align: center;
    border-color: transparent;
    outline-width: 0
}

/* Sign-In Text*/
.sign-in-text {
/*    position: absolute;
    width: 230px;
    height: 45px;
    left: 1039px;
    top: 689px;*/
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    text-align: center;
    color: #43476B;
    border-color: transparent;
}


/* Sign-In Container */
.sign-in-container {
    position: relative;
    bottom: 22px;
    right: 32px;
    left: 60px;
    width: 309px;
    height: 56px;
    background: rgba(223, 223, 238, 0.75);
    border-radius: 100px;
    outline-width: 0;
}

/*Password Reset Text*/
.password-reset {
    position: absolute;
    top: 570px;
    left: 105px;
    font-size: 16px;
    /* color: #43476B; */
}

#btn:active {
    background-color: rgba(223, 223, 238, 0.42);
}